################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Online-Tech-Shop.slnx/FileContentIndex/0c450883-977c-4864-806f-352f040f6408.vsidx
/.vs/Online-Tech-Shop.slnx/FileContentIndex/699914f0-3591-403e-a0a1-bc9214da94f5.vsidx
/.vs/Online-Tech-Shop.slnx/FileContentIndex/9379fee1-ae86-47f9-b8e2-f6ffb672ec0b.vsidx
/.vs/Online-Tech-Shop.slnx/FileContentIndex
/.vs/slnx.sqlite
